@model IEnumerable<QPC.Core.Models.Instruction>

<div class="container">
    <table id="instructions">
        <tr>
            <th>
                Instruction
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th>
            </th>
        </tr>

        @foreach (var item in Model)
    {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comments)
                </td>
                <td>
                    @if (item.Status == QPC.Core.Models.InstructionStatus.Performed)
                    {
                        <button id="@item.Id" class="js-toggle-instruction-status btn-performed">
                            Perfomed
                        </button>
                    }
                    else
                    {
                        <button id="@item.Id" class= "js-toggle-instruction-status btn-pending">
                            Perfomed?
                        </button>
                    }
                </td>
            </tr>
        }
    </table>
</div>
